{% extends "_base.htm" %}

{% block bodycontent %}

{% if username %}
      <h1>Devices</h1>
      <p>
	  <b>{{msg}}</b>	
	<UL>
		<li>Number of Registered Devices: {{deviceCount}}</li>
	    <li>Number of Notifications Sent: {{notificationTotalSentCount}}</li>
		</ul>
      <table>
          <tr>
            <th>ID</th>
            <th>Alias</th>
            <th>Device Type</th>
            <th>Device Version</th>
            <th>Device Token</th> 
            <th>Notifications Sent</th>
            <th>Register Date</th>
            <th>Last Seen</th>

          </tr>
          {% for device in device_list %}
          <tr>
            <td>{{ device.key.id }}</td>
            <td>{{ device.userAlias }}</td>
            <td>{{ device.deviceType }}</td>
            <td>{{ device.deviceVersion }}</td>
            <td>{{ device.deviceToken }}</td>
            <td>{{ device.numberOfNotificationsSent }}</td>
            <td>{{ device.registerDate }}</td>
            <td>{{ device.lastSeenDate }}</td>

         </tr>
          {% endfor %}
      </table>
{% endif  %}

{% endblock %}
