{% extends "_base.htm" %}
{% block bodycontent %}

      <h1>Stock Auto Updater</h1>
      <p>
	This is the <b>concept-stage</b> stock updater page that collects the updated values for each stock. This script is intended to be run every <b>5 minutes</b>.
	 <br><br>{{info}}	<br>

	<b>Status:</b> {{msg}}	<br>
		<br>		
      <table>
          <tr>
            <th>Ticker</th>
            <th>Last Value</th>
            <th>Lookup Date</th>
            <th>Added on</th>
            <th>Added by</th>
          </tr>
          {% for stock in stock_list %}

          <tr>
            <td>{{ stock.ticker }}</td>
            <td>{{ stock.value }}</td>
            <td>{{ stock.lookupdate }}</td>
            <td>{{ stock.addeddate }}</td>
            <td>{{ stock.addeduser }}</td>
          </tr>

          {% endfor %}
      </table>

{% endblock %}
