{% extends "_base.htm" %}

{% block bodycontent %}
       {% if username %}

<h1>Stock Importer</h1>
<p>
<b>Message: </b>  {{msg}}

<ul>
	<li><a href="/tasks/stockAutoupdater">Stock Autoupdater</a></li>
	<li><a href="/stocks/import">Stock Batch Import</a></li>
	<li><a href="/stocks/export">Stock Batch Export</a></li>
</ul>
		
		<form method="post" action="/stocks/import">
			Add Stock: <a href="http://finance.yahoo.com/lookup" target="_blank">Format</a>: (Ex: BHP.AX,RIO.AX,MSFT,RIO,AAPL)
		      <table>
		          <tr>
		            <th>Stock(s) to import</th>
		          </tr>

		          <tr>
		            <td><input type="text" size=100 name="stock"/></td>
		          </tr>

		      </table><input type="submit" value="Add"/> 
			</p>
			</form>
			
			
			
		
				
      <table>
          <tr>
            <th>Ticker</th>
            <th>Last Value</th>
            <th>Lookup Date</th>
            <th>Added on</th>
            <th>Added by</th>
          </tr>
          {% for stock in stock_list %}

          <tr>
            <td>{{ stock.ticker }}</td>
            <td>{{ stock.value }}</td>
            <td>{{ stock.lookupdate }}</td>
            <td>{{ stock.addeddate }}</td>
            <td>{{ stock.addeduser }}</td>
          </tr>

          {% endfor %}
      </table>
       {% endif %}
{% endblock %}

